DATABASE_URL=
WEBHOOK_URL=
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_NAME=
EFI_BANK_API_CLIENT_ID=
EFI_BANK_API_CLIENT_SECRET=
EFI_BANK_API_ENV=
IA_DEEP_SEEK_ROOT_API=
IA_GPT_ROOT_API=
IA_GPT_TOKEN=
IA_DEEP_SEEK_TOKEN=
IA_DEFAULT_API=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=